/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(16, 14, 136), rgba(16, 69, 129, 0.918)), green;
}

.login-container {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    margin-bottom: 8px;
    color: #333;
    text-align: center;
}

.login-form p {
    color: #666;
    margin-bottom: 24px;
    text-align: center;
    font-size: 0.9rem;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #3920c2;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #764ba2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background-color: #3017bd;
}

.bottom-text {
    margin-top: 20px;
    text-align: center;
    font-size: 0.85rem;
}

.bottom-text a {
    color: #764ba2;
    text-decoration: none;
    font-weight: 600;
}

.bottom-text a:hover {
    text-decoration: underline;
}
